<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestor de Incidencias</title>
</head>
<body>
<div th:fragment="menu">
    <h1>Gestor de Incidencias</h1>
    <nav>
        <ul>
            <li><a href="/web/usuario">Usuario</a></li>
            <li><a href="/web/tecnico">Técnico</a></li>
            <li><a href="/web/administrador">Administrador</a></li>
        </ul>
    </nav>
    <hr>
</div>

<div th:fragment="content">
    <!-- El contenido específico de cada página irá aquí -->
</div>

<div th:fragment="footer">
    <hr>
    <footer>
        <p>Hecho por Antón Davila - 2º DAM - IES Teis</p>
    </footer>
</div>
</body>
</html>